# ROS 2
build/
install/
log/
.colcon/
COLCON_IGNORE
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
.venv/
env/

# IDE / Editors
*.swp
*.swo
*~
# IDE / Editors
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
# C/C++
compile_commands.json
.cache/
src/nerf_standalone/nerf_standalone/__pycache__/
.pytest_cache
.history/
/face_raw
/face_raw/
scripts/face_data/face_raw/
scripts/face_data/faces_raw/gunter/
scripts/face_data/faces_raw/marco/
scripts/face_data/faces_raw/schatz/
