# ROS 2
build/
install/
log/
.colcon/
COLCON_IGNORE
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
.venv/
env/

# IDE / Editors
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*.swo
*~

# C/C++
compile_commands.json
.cache/
src/nerf_standalone/nerf_standalone/__pycache__/__init__.cpython-310.pyc
src/nerf_standalone/nerf_standalone
.pytest_cache
.history/scripts/encode_faces_20260218075834.py
.history/scripts/encode_faces_20260218080021.py
.history/scripts/encode_faces_20260218080123.py
.history/src/ball_tracker/package_20260218080223.xml
.history/src/ball_tracker/package_20260218080224.xml
.history/src/ball_tracker/setup_20260218080225.py
.history/src/ball_tracker/setup_20260218080226.py
.history/src/ball_tracker/setup_20260218080227.cfg
.history/src/ball_tracker/setup_20260218080228.cfg
.history/src/ball_tracker/ball_tracker/detect_face_20260218080350.py
.history/src/ball_tracker/ball_tracker/detect_face_20260218080351.py
.history/src/ball_tracker/ball_tracker/follow_face_20260218080409.py
.history/src/ball_tracker/ball_tracker/follow_face_20260218080411.py
.history/src/ball_tracker/ball_tracker/process_image_20260218080329.py
.history/src/ball_tracker/ball_tracker/process_image_20260218080330.py
.history/src/ball_tracker/ball_tracker/register_face_20260218080411.py
.history/src/ball_tracker/ball_tracker/register_face_20260218080412.py
.history/src/ball_tracker/config/face_tracker_params_20260218080438.yaml
.history/src/ball_tracker/config/face_tracker_params_20260218080447.yaml
.history/src/ball_tracker/launch/face_tracker.launch_20260218080446.py
.history/src/ball_tracker/launch/face_tracker.launch_20260218080447.py
src/nerf_standalone/nerf_standalone/__pycache__/__init__.cpython-310.pyc
