# ROS 2
build/
install/
log/
.colcon/
COLCON_IGNORE
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
.venv/
env/

# IDE / Editors
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*.swo
*~

# C/C++
compile_commands.json
.cache/
src/nerf_standalone/nerf_standalone/__pycache__/
src/nerf_standalone/nerf_standalone
.pytest_cache
.history/
scripts/face_data/encode_faces.py
scripts/face_data/face_raw/marco/_ETE9988.jpg
scripts/face_data/face_raw/marco/IMG_8056.JPG
scripts/face_data/face_raw/marco/IMG_8057.JPG
scripts/face_data/face_raw/marco/img_8058.jpg
scripts/face_data/face_raw/marco/IMG_8059.JPG
scripts/face_data/face_raw/marco/IMG_8060.JPG
scripts/face_data/face_raw/marco/IMG_8061.JPG
scripts/face_data/face_raw/marco/IMG_8062.JPG
scripts/face_data/face_raw/marco/IMG_8063.JPG
scripts/face_data/face_raw/marco/IMG_8064.JPG
scripts/face_data/face_raw/marco/IMG_8065.JPG
scripts/face_data/face_raw/schatz/C96FFE72-F5C2-4AF1-9C22-05AC7E4C8FD5.jpeg
scripts/face_data/face_raw/schatz/IMG_0086.HEIC
scripts/face_data/face_raw/schatz/IMG_0086.MP4
scripts/face_data/face_raw/schatz/IMG_0291.JPG
scripts/face_data/face_raw/schatz/IMG_0294.JPG
scripts/face_data/face_raw/schatz/IMG_0296.JPG
scripts/face_data/face_raw/schatz/IMG_0297.JPG
scripts/face_data/face_raw/schatz/IMG_0299.JPG
scripts/face_data/face_raw/schatz/IMG_0301.JPG
scripts/face_data/face_raw/schatz/IMG_0306.PNG
scripts/face_data/face_raw/schatz/IMG_6196.HEIC
scripts/face_data/face_raw/schatz/IMG_6196.MP4
src/nerf_standalone/nerf_standalone/__pycache__/__init__.cpython-310.pyc
scripts/face_data/faces_raw/gunter/g1.png
scripts/face_data/faces_raw/gunter/image.png
scripts/face_data/faces_raw/gunter/image1.png
scripts/face_data/faces_raw/marco/_ETE9988.jpg
scripts/face_data/faces_raw/marco/IMG_8056.JPG
scripts/face_data/faces_raw/marco/IMG_8057.JPG
scripts/face_data/faces_raw/marco/img_8058.jpg
scripts/face_data/faces_raw/marco/IMG_8059.JPG
scripts/face_data/faces_raw/marco/IMG_8060.JPG
scripts/face_data/faces_raw/marco/IMG_8061.JPG
scripts/face_data/faces_raw/marco/IMG_8062.JPG
scripts/face_data/faces_raw/marco/IMG_8063.JPG
scripts/face_data/faces_raw/marco/IMG_8064.JPG
scripts/face_data/faces_raw/marco/IMG_8065.JPG
scripts/face_data/faces_raw/schatz/C96FFE72-F5C2-4AF1-9C22-05AC7E4C8FD5.jpeg
scripts/face_data/faces_raw/schatz/IMG_0086.HEIC
scripts/face_data/faces_raw/schatz/IMG_0086.MP4
scripts/face_data/faces_raw/schatz/IMG_0291.JPG
scripts/face_data/faces_raw/schatz/IMG_0294.JPG
scripts/face_data/faces_raw/schatz/IMG_0296.JPG
scripts/face_data/faces_raw/schatz/IMG_0297.JPG
scripts/face_data/faces_raw/schatz/IMG_0299.JPG
scripts/face_data/faces_raw/schatz/IMG_0301.JPG
scripts/face_data/faces_raw/schatz/IMG_0306.PNG
scripts/face_data/faces_raw/schatz/IMG_6196.HEIC
scripts/face_data/faces_raw/schatz/IMG_6196.MP4
