<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="nerf_standalone">

    <material name="orange">
        <color rgba="1 0.3 0.1 1"/>
    </material>

    <material name="grey">
        <color rgba="0.5 0.5 0.5 1.0"/>
    </material>

    <material name="blue">
        <color rgba="0.2 0.2 1 1"/>
    </material>

    <!-- <material name="black">
        <color rgba="0 0 0 1"/>
    </material> -->

    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>

    <link name="world"/>

    <joint name="world_to_montage_joint" type="fixed">
        <parent link="world"/>
        <child link="Montageplatte"/>
        <origin xyz="0 0 0.5" rpy="0 -1.5708 0"/>
    </joint>

    <link name="Montageplatte">
        <visual>
            <origin xyz="0.0012 0.1035 -0.0889" rpy="-3.1416 -1.5708 0"/>
            <geometry>
                <mesh filename="file://$(find nerf_standalone)/description/meshes/Montageplatte.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.05 0.1 0.02"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.2"/>
            <inertia ixx="0.0004" ixy="0" ixz="0" iyy="0.00005" iyz="0" izz="0.00037"/>
        </inertial>
    </link>

    <joint name="trigger_joint" type="revolute">
        <!-- <origin xyz="0 0.0975 -0.013768" rpy="3.14159 -1.5708 0"/> -->
        <origin xyz="0 0 0" rpy="3.14159 -1.5708 0"/>
        <parent link="Montageplatte"/>
        <child link="Motor_und_Magazinplatte"/>
        <axis xyz="-1 0 0"/>
        <limit lower="0.0" upper="2.1" effort="10.0" velocity="1.0"/>
        <dynamics damping="0.1" friction="0.1"/>
    </joint>

    <link name="Motor_und_Magazinplatte">
        <visual>
             <origin xyz="-0.013735 -0.0982192 0.0" rpy="0 0 0"/>
             <!-- <origin xyz="-0.013735 -0.0991 0.0005" rpy="0 0 0"/> -->
             <geometry>
                <mesh filename="file://$(find nerf_standalone)/description/meshes/Motor_und_Magazinplatte.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="grey">
                <color rgba="0.5 0.5 0.5 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.06 0.08 0.02"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.25"/>
            <inertia ixx="0.00036" ixy="0" ixz="0" iyy="0.00014" iyz="0" izz="0.00048"/>
        </inertial>
    </link>

    <!-- Motor Left (Fixed to Magazinplatte) -->
    <!-- Rotated -90 degrees around X (Counter-Clockwise if looking from front? Or standard?) -->
    <joint name="motor_left_joint" type="fixed">
        <origin xyz="0.01 -0.09600 0" rpy="-1.5708 3.1416 0"/> 
        <parent link="Motor_und_Magazinplatte"/>
        <child link="motor_left"/>
    </joint>

    <link name="motor_left">
        <visual>
            <geometry>
                <mesh filename="file://$(find nerf_standalone)/description/meshes/motor_left.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.03" radius="0.015"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.1"/>
            <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
        </inertial>
    </link>

    <!-- Motor Right (Fixed to Magazinplatte) -->
    <joint name="motor_right_joint" type="fixed">
        <origin xyz="-0.030 -0.0960 0" rpy="-1.5708 3.1416 0"/> 
        <parent link="Motor_und_Magazinplatte"/>
        <child link="motor_right"/>
    </joint>

    <link name="motor_right">
        <visual>
            <geometry>
                <mesh filename="file://$(find nerf_standalone)/description/meshes/motor_right.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <geometry>
                <cylinder length="0.03" radius="0.015"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.1"/>
            <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
        </inertial>
    </link>

    <!-- Flywheel Left -->
    <joint name="flywheel_left_joint" type="continuous">
        <origin xyz="0 0 0.0" rpy="0 0 0"/> 
        <parent link="motor_left"/>
        <child link="flywheel_left"/>
        <axis xyz="0 1 0"/>
        <limit effort="5.0" velocity="100.0"/>
        <dynamics damping="0.01" friction="0.01"/>
    </joint>

    <link name="flywheel_left">
        <visual>
            <origin xyz="0.08928 0.002734 0" rpy="-1.5708 0 0"/>
            <geometry>
                <mesh filename="file://$(find nerf_standalone)/description/meshes/Launcher_wheel_left.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <origin xyz="0.08928 0.002734 0" rpy="-1.5708 0 0"/>
            <geometry>
                <cylinder length="0.02" radius="0.02"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.1"/>
            <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
        </inertial>
    </link>

    <!-- Flywheel Right -->
    <joint name="flywheel_right_joint" type="continuous">
        <origin xyz="0 0 0.005" rpy="0 0 0"/> 
        <parent link="motor_right"/>
        <child link="flywheel_right"/>
        <axis xyz="0 1 0"/>
        <limit effort="5.0" velocity="100.0"/>
        <dynamics damping="0.01" friction="0.01"/>
    </joint>

    <link name="flywheel_right">
        <visual>
            <origin xyz="0.08928 0.002734 -0.005" rpy="-1.5708 0 0"/>
            <geometry>
                <mesh filename="file://$(find nerf_standalone)/description/meshes/Launcher_wheel_right.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <collision>
            <origin xyz="0.08928 0.002734 -0.005" rpy="-1.5708 0 0"/>
            <geometry>
                <cylinder length="0.02" radius="0.02"/>
            </geometry>
        </collision>
        <inertial>
            <mass value="0.1"/>
            <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
        </inertial>
    </link>

    <!-- Dart Pusher -->
    <joint name="dart_pusher_joint" type="continuous">
        <origin xyz="-0.05 0 0.025" rpy="0 0 0"/> 
        <parent link="Motor_und_Magazinplatte"/>
        <child link="dart_pusher"/>
        <axis xyz="0 0 1"/>
        <limit effort="10.0" velocity="10.0"/>
        <dynamics damping="0.0" friction="0.0"/>
    </joint>

    <link name="dart_pusher">
        <visual>
            <geometry>
                <mesh filename="file://$(find nerf_standalone)/description/meshes/Dart_Pusher.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="orange"/>
        </visual>
        <!-- <collision>
            <geometry>
                <box size="0.03 0.03 0.01"/>
            </geometry>
        </collision> -->
        <inertial>
            <mass value="0.1"/>
            <inertia ixx="0.0002" ixy="0" ixz="0" iyy="0.0002" iyz="0" izz="0.0002"/>
        </inertial>
    </link>

    <xacro:include filename="ros2_control.xacro" />
    <xacro:nerf_ros2_control />

</robot>
