<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="nerf_standalone">

    <link name="bottom_plate">
        <inertial>
            <origin xyz="0.07506008367977571 0.06788755296524361 -0.015949194976296238" rpy="0.0 0.0 0.0" />
            <mass value="0.2021986172178209" />
            <inertia ixx="0.00037557930532003186" iyy="5.362127850969058e-05" izz="0.00041640489807794057" ixy="-1.2945646322185759e-06" iyz="-1.5574886339585816e-05" ixz="9.440243990688213e-08" />
        </inertial>
        <visual name="bottom_plate_visual">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="file://$(find nerf_standalone)/description/meshes/bottom_plate.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision name="bottom_plate_collision">
            <origin xyz="0.08 0.05 -0.01" rpy="0.0 0.0 0.0" />
            <geometry>
                 <box size="0.2 0.15 0.02"/>
            </geometry>
        </collision>
    </link>
    <link name="motor_bracket">
        <inertial>
            <origin xyz="0.06 0 0" rpy="0 0 0" />
            <mass value="0.25" />
            <inertia ixx="0.001" iyy="0.001" izz="0.001" ixy="0" iyz="0" ixz="0" />
        </inertial>
        <visual name="motor_bracket_visual">
            <origin xyz="0.09803428669398517 -4.3732793080548534e-05 -0.013700000763976723" rpy="1.5703501879750486 -1.5707963267948937 0" />
            <geometry>
                <mesh filename="file://$(find nerf_standalone)/description/meshes/motor_bracket.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <collision name="motor_bracket_collision">
            <!-- Simplified Box Collision for Tilt Head -->
            <origin xyz="0.05 0.08 -0.02" rpy="0 0 0" />
            <geometry>
                <box size="0.15 0.12 0.08" />
            </geometry>
        </collision>
    </link>
    <link name="magazin">
        <inertial>
            <origin xyz="0 -0.02 0.05" rpy="0 0 0" />
            <mass value="0.4" />
            <inertia ixx="0.001" iyy="0.001" izz="0.001" ixy="0" iyz="0" ixz="0" />
        </inertial>
        <visual name="magazin_visual">
            <origin xyz="0.009991696360929777 -0.1260585761325394 0.08876880466816899" rpy="-3.141146514736195 1.079162159671481e-15 3.1415267664655997" />
            <geometry>
                <mesh filename="file://$(find nerf_standalone)/description/meshes/magazin.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <!-- collision name="magazin_collision">
           Collision disabled
        </collision -->
    </link>
    <link name="motor_right">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <mass value="0.1" />
            <inertia ixx="0.0001" iyy="0.0001" izz="0.0001" ixy="0" iyz="0" ixz="0" />
        </inertial>
        <visual name="motor_right_visual">
            <origin xyz="-1.73567760164417e-09 3.029328534687181e-09 -1.3556827271887785e-09" rpy="-1.5707188555909968 0.00043936100150414944 1.7453951561374372" />
            <geometry>
                <mesh filename="file://$(find nerf_standalone)/description/meshes/motor_right.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <!-- collision name="motor_right_collision">
           Collision disabled
        </collision -->
    </link>
    <link name="motor_left">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <mass value="0.1" />
            <inertia ixx="0.0001" iyy="0.0001" izz="0.0001" ixy="0" iyz="0" ixz="0" />
        </inertial>
        <visual name="motor_left_visual">
            <origin xyz="-1.8333526696778791e-09 -2.050084864091417e-09 -1.355682762715915e-09" rpy="-1.5711117946140916 0.00031546780349864484 0.7854640007616747" />
            <geometry>
                <mesh filename="file://$(find nerf_standalone)/description/meshes/motor_left.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <!-- collision name="motor_left_collision">
           Collision disabled
        </collision -->
    </link>
    <link name="Servo_dart_pusher">
        <inertial>
            <origin xyz="0 0.02 -0.01" rpy="0 0 0" />
            <mass value="0.25" />
            <inertia ixx="0.001" iyy="0.001" izz="0.001" ixy="0" iyz="0" ixz="0" />
        </inertial>
        <visual name="Servo_dart_pusher_visual">
            <origin xyz="0.004998394584003245 0.024345667304006825 -0.010460860261822842" rpy="1.570796326794895 -0.0004461388535984491 -1.5707304396707022" />
            <geometry>
                <mesh filename="file://$(find nerf_standalone)/description/meshes/Servo_dart_pusher.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <!-- collision name="Servo_dart_pusher_collision">
           Collision disabled
        </collision -->
    </link>
    <link name="flywheel_left">
        <inertial>
            <origin xyz="0 0.003 0" rpy="0 0 0" />
            <mass value="0.1" />
            <inertia ixx="0.0001" iyy="0.0001" izz="0.0001" ixy="0" iyz="0" ixz="0" />
        </inertial>
        <visual name="flywheel_left_visual">
            <origin xyz="-0.0631325544432252 0.01313155884148008 -0.0631300993428637" rpy="-1.570165432787083 0.7853321767598774 -3.1411465441724866" />
            <geometry>
                <mesh filename="file://$(find nerf_standalone)/description/meshes/flywheel_left.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <!-- collision name="flywheel_left_collision">
           Collision disabled
        </collision -->
    </link>
    <link name="flywheel_right">
        <inertial>
            <origin xyz="0 0.003 0" rpy="0 0 0" />
            <mass value="0.1" />
            <inertia ixx="0.0001" iyy="0.0001" izz="0.0001" ixy="0" iyz="0" ixz="0" />
        </inertial>
        <visual name="flywheel_right_visual">
            <origin xyz="-0.01550858803514851 0.013120498025483157 -0.08792554788989197" rpy="-1.568228080674074 1.3961969502773832 -3.139063424976714" />
            <geometry>
                <mesh filename="file://$(find nerf_standalone)/description/meshes/flywheel_right.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <!-- collision name="flywheel_right_collision">
           Collision disabled
        </collision -->
    </link>
    <link name="pusher_servo_part">
        <inertial>
            <origin xyz="-0.002 -0.002 0" rpy="0 0 0" />
            <mass value="0.05" />
            <inertia ixx="0.0001" iyy="0.0001" izz="0.0001" ixy="0" iyz="0" ixz="0" />
        </inertial>
        <visual name="pusher_servo_part_visual">
            <origin xyz="5.0358234648939514e-09 -0.0031999983978120905 1.4265863324780527e-06" rpy="-1.5712424656484945 6.588712419531712e-05 9.66531786022265e-16" />
            <geometry>
                <mesh filename="file://$(find nerf_standalone)/description/meshes/pusher_servo_part.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <!-- collision name="pusher_servo_part_collision">
           Collision disabled
        </collision -->
    </link>
    <link name="Turret">
        <inertial>
            <origin xyz="0 -0.02 0.01" rpy="0 0 0" />
            <mass value="0.1" />
            <inertia ixx="0.0001" iyy="0.0001" izz="0.0001" ixy="0" iyz="0" ixz="0" />
        </inertial>
        <visual name="Turret_visual">
            <origin xyz="0.0089380699537615 -0.0803571481976858 -0.002142981347950717" rpy="-0.000446138853596889 -1.0791087584284575e-15 -6.58871241935617e-05" />
            <geometry>
                <mesh filename="file://$(find nerf_standalone)/description/meshes/Turret.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <!-- collision name="Turret_collision">
           Collision disabled
        </collision -->
    </link>
    <link name="Servoarm-v1">
        <inertial>
            <origin xyz="0.003 0.004 0" rpy="0 0 0" />
            <mass value="0.05" />
            <inertia ixx="0.0001" iyy="0.0001" izz="0.0001" ixy="0" iyz="0" ixz="0" />
        </inertial>
        <visual name="Servoarm-v1_visual">
            <origin xyz="0.004000004389203955 -0.08928319312789187 0.01647600710867764" rpy="0.029400113955168578 -8.659366307345483e-14 -3.141592653583827" />
            <geometry>
                <mesh filename="file://$(find nerf_standalone)/description/meshes/Servoarm-v1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <!-- collision name="Servoarm-v1_collision">
           Collision disabled
        </collision -->
    </link>
    <link name="Nerf-Dart-Launcher_Servo-MG-v1">
        <inertial>
            <origin xyz="0.01 0 -0.01" rpy="0 0 0" />
            <mass value="0.1" />
            <inertia ixx="0.0001" iyy="0.0001" izz="0.0001" ixy="0" iyz="0" ixz="0" />
        </inertial>
        <visual name="Nerf-Dart-Launcher_Servo-MG-v1_visual">
            <origin xyz="0.032232880187464355 0.10890697936911703 -0.024499995611303272" rpy="-8.077935669498046e-28 7.226432496549954e-26 1.570796326794921" />
            <geometry>
                <mesh filename="file://$(find nerf_standalone)/description/meshes/Nerf-Dart-Launcher_Servo-MG-v1.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </visual>
        <!-- collision name="Nerf-Dart-Launcher_Servo-MG-v1_collision">
           Collision disabled
        </collision -->
    </link>
    <joint name="trigger_joint" type="revolute">
        <origin xyz="0.08882309 0.10354221000000001 -0.00119223" rpy="-1.5707963267948943 -3.374960801568061e-11 -1.570862213919093" />
        <parent link="bottom_plate" />
        <child link="motor_bracket" />
        <axis xyz="1.1287570791617654e-07 2.227474133869779e-15 1.0000000021779938" />
        <limit lower="5.235988" upper="6.283185" effort="100.0" velocity="5.0" />
        <dynamics damping="10.0" friction="5.0"/>
    </joint>
    <joint name="motor_bracket_motor_left_fix_motor_bracket" type="fixed">
        <origin xyz="0.09699999040378247 -4.326999672626883e-05 0.008800001069511083" rpy="1.5707963268286462 -1.5707304396707 3.141592653589793" />
        <parent link="motor_bracket" />
        <child link="motor_left" />
    </joint>
    <joint name="motor_bracket_motor_right_fix_motor_bracket" type="fixed">
        <origin xyz="0.09699998532437559 -4.3269996726369024e-05 -0.036199999028498644" rpy="1.5707963268286462 -1.5707304396707 3.141592653589793" />
        <parent link="motor_bracket" />
        <child link="motor_right" />
    </joint>
    <joint name="flywheel_right_joint" type="continuous">
        <origin xyz="0.0 -7.800000000000029e-06 -0.0175" rpy="1.5707963267948966 -7.224685652388453e-18 -2.3543024464062444e-21" />
        <parent link="motor_right" />
        <child link="flywheel_right" />
        <axis xyz="-7.22468811426675e-18 -1.0 0.0004460000000000001" />
        <limit effort="10.0" velocity="100.0"/>
        <dynamics damping="0.0" friction="0.0"/>
    </joint>
    <joint name="flywheel_left_joint" type="continuous">
        <origin xyz="0.0 -7.810000000000317e-06 -0.0175" rpy="1.5707963267948966 -1.0870161501361781e-16 -2.35430244640625e-21" />
        <parent link="motor_left" />
        <child link="flywheel_left" />
        <axis xyz="-1.0870161747549608e-16 -0.9999999999999999 0.000446" />
        <limit effort="10.0" velocity="100.0"/>
        <dynamics damping="0.0" friction="0.0"/>
    </joint>
    <joint name="motor_bracket_torret_on_motor_bracket" type="fixed">
        <origin xyz="0.11710034290805325 0.0007477600039520603 -0.01370000462490558" rpy="-1.570796326761147 -1.5707304396707 3.141592653589793" />
        <parent link="motor_bracket" />
        <child link="Turret" />
    </joint>
    <joint name="motor_bracket_magazin_fix_motor_bracket" type="fixed">
        <origin xyz="0.014700442685571637 0.0009934500004961037 -0.013700001459844353" rpy="-1.570796326761147 -1.5707304396707 3.141592653589793" />
        <parent link="motor_bracket" />
        <child link="magazin" />
    </joint>
    <joint name="motor_bracket_servo_fix_motor_plate" type="fixed">
        <origin xyz="0.01958928622984484 -0.02400873999933896 -0.039099999403134945" rpy="1.5707963268294143 -1.5707304396707 3.141592653589793" />
        <parent link="motor_bracket" />
        <child link="Servo_dart_pusher" />
    </joint>
    <joint name="dart_pusher_joint" type="continuous">
        <origin xyz="0.004999060000000002 0.014171329999999998 0.013443680000000003" rpy="1.5707963267948966 2.7571572048402603e-21 -2.354302446406244e-21" />
        <parent link="Servo_dart_pusher" />
        <child link="pusher_servo_part" />
        <axis xyz="-2.7546953265439552e-21 1.0 -0.000446" />
        <limit effort="10.0" velocity="10.0"/>
        <dynamics damping="0.0" friction="0.0"/>
    </joint>
    <joint name="bottom_plate_servo_fix_bottom_plate" type="fixed">
        <origin xyz="0.06821931 0.04425035 -0.01359223" rpy="-1.5707963267948966 -4.855375361027351e-14 -1.5707963267978802" />
        <parent link="bottom_plate" />
        <child link="Nerf-Dart-Launcher_Servo-MG-v1" />
    </joint>
    <!-- Change Servoarm joint to fixed to avoid missing transform output -->
    <joint name="servo_arm_fixed_joint" type="fixed">
        <origin xyz="0.009006819999986574 2.634000000043768e-05 0.004500000000026878" rpy="-1.5707963267948482 -1.570796326791913 0" />
        <parent link="Nerf-Dart-Launcher_Servo-MG-v1" />
        <child link="Servoarm-v1" />
    </joint>
    
    <!-- World link and joint - only for standalone mode -->
    <xacro:arg name="integrated_mode" default="false"/>
    <xacro:unless value="$(arg integrated_mode)">
        <link name="world"/>
        <joint name="world_to_base" type="fixed">
            <parent link="world"/>
            <child link="bottom_plate"/>
            <origin xyz="0 0 0.5" rpy="0 0 0"/>
        </joint>
    </xacro:unless>

    <xacro:arg name="use_hardware" default="false"/>


    <xacro:if value="$(arg use_hardware)">
        <xacro:include filename="ros2_control_hardware.xacro" />
        <xacro:nerf_ros2_control_hardware />
    </xacro:if>
    <xacro:unless value="$(arg use_hardware)">
        <link name="arming_switch_link" />
    <joint name="system_arming_joint" type="revolute">
        <parent link="bottom_plate"/>
        <child link="arming_switch_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <limit lower="0" upper="1" effort="1" velocity="1"/>
        <axis xyz="0 0 1"/>
    </joint>

    <xacro:include filename="ros2_control.xacro" />
        <xacro:nerf_ros2_control />
    </xacro:unless>

</robot>
