[Unit]
Description=Gubot One Robot Autostart
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ros
WorkingDirectory={{WORKSPACE_DIR}}
# Startet den Roboter mit Gesichtserkennung als Standard
ExecStart=/bin/bash {{START_SCRIPT_PATH}} --face
Restart=on-failure
RestartSec=5
Environment="ROS_DOMAIN_ID=0"
Environment="CYCLONEDDS_URI=file:///var/tmp/cyclonedds.xml"

[Install]
WantedBy=multi-user.target
