<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="integrated_mode" default="true"/>
    <xacro:include filename="$(find nerf_launch_system)/description/urdf/nerf_launcher.urdf.xacro" />
    <joint name="nerf_mount_joint" type="fixed">
        <parent link="chassis"/>
        <child link="bottom_plate"/>
        <origin xyz="0.155 0 0.165" rpy="0 0 ${pi/2}"/>
    </joint>
    <gazebo reference="nerf_mount_joint">
        <preserveFixedJoint>false</preserveFixedJoint>
    </gazebo>
</robot>